.popup__title {
  font-size: 24px;
  color: #000000;
  line-height: 29px;
  font-weight: 900;
  margin: 34px 0 47px 36px;
  align-self: flex-start;
  box-sizing: border-box;
}

@media screen and (max-width:767px) {
  .popup__title {
    margin: 25px 0 75px 22px;
    line-height: 22px;
    font-size: 18px;
  }
}
