.profile__avatar-container{
  display: flex;
  flex-direction: column;
}

.profile__avatar-container:hover{
  background: url(../../../images/Vector.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 26px 26px;
}
