@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);


@import url(./blocks/header/__text/header__text.css);
@import url(./blocks/header/__profile/header__profile.css);
@import url(./blocks/header/__email/header__email.css);

@import url(./blocks/content/content.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__container/profile__container.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__row/profile__row.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__description/profile__description.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/cards/cards.css);
@import url(./blocks/cards/__list/cards__list.css);
@import url(./blocks/cards/__card/cards__card.css);
@import url(./blocks/cards/__image/cards__image.css);
@import url(./blocks/cards/__description/cards__description.css);
@import url(./blocks/cards/__description-title/cards__description-title.css);
@import url(./blocks/cards/__likes-button/cards__likes-button.css);
@import url(./blocks/cards/__likes-button/_active/cards__likes-button_active.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_type/popup_type_profile.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__info/popup__info.css);
@import url(./blocks/popup/__form-info/popup__form-info.css);
@import url(./blocks/popup/__info/__element/popup__info_element_add.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/_is-opened/popup_is-opened.css);
@import url(./blocks/popup/__button-submit/popup__button-submit.css);
@import url(./blocks/popup/__form-input/popup__form-input.css);
@import url(./blocks/popup/__form-input/_name/popup__form-input_name_title.css);
@import url(./blocks/popup/__form-input/_name/popup__form-input_name_subtitle.css);
@import url(./blocks/button/button.css);
@import url(./blocks/cards/__delete-button/cards__delete-button.css);
@import url(./blocks/popup/__form-input/_name/popup__form-input_name_heading.css);
@import url(./blocks/popup/__form-input/_name/popup__form-input_name_link.css);
@import url(./blocks/popup/_type/popup_type_add.css);
@import url(./blocks/popup/_type/popup_type_picture.css);
@import url(./blocks/popup/__picture-container/popup__picture-container.css);
@import url(./blocks/popup/__figure/popup__figure.css);
@import url(./blocks/popup/__picture/popup__picture.css);
@import url(./blocks/popup/__picture-text/popup__picture-text.css);
@import url(./blocks/popup/__info/__element/popup__info_element_edit.css);
@import url(./blocks/popup/__form-input-type-error/popup__form-input-type-error.css);
@import url(./blocks/popup/__form-input-error/popup__form-input-error.css);
@import url(./blocks/popup/__form-input-error/_active/popup__form-input-error_active.css);
@import url(./blocks/popup/__button-submit/_inactive/popup__button-submit_inactive.css);
@import url(./blocks/popup/__label/popup__label.css);
@import url(./blocks/cards/__likes-number/cards__likes-number.css);
@import url(./blocks/cards/__section-likes/cards__section-likes.css);
@import url(./blocks/popup/__info/__element/popup__info_element_delete.css);
@import url(./blocks/popup/_type/popup_type_delete.css);
@import url(./blocks/popup/__title/_delete/popup__title_delete.css);
@import url(./blocks/popup/_type/popup_type_avatar.css);
@import url(./blocks/popup/__container/_avatar/popup__container_avatar.css);
@import url(./blocks/popup/__form-input/_name/popup__form-input_name_avatar.css);
@import url(./blocks/popup/__info/__element/popup__info_element_avatar.css);
@import url(./blocks/profile/__avatar-container/profile__avatar-container.css);
@import url(./blocks/cards/__delete-button/_hidden/cards__delete-button_hidden.css);


@import url(./blocks/login/login.css);
@import url(./blocks/login/__form/login__form.css);
@import url(./blocks/login/__form-title/login__form-title.css);
@import url(./blocks/login/__form-label/login__form-label.css);
@import url(./blocks/login/__form-fieldset/login__form-fieldset.css);
@import url(./blocks/login/__form-input-error/login__form-input-error.css);
@import url(./blocks/login/__form-input/login__form-input.css);
@import url(./blocks/login/__button/login__button.css);
@import url(./blocks/login/__form-signin/login__form-signin.css);
