.cards__description {
  max-width: 282px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*padding: 25px 15px 25px 21px;*/
  padding: 22px 15px 22px 21px;
  box-sizing: border-box;
  background-color: #ffffff;
  margin: 0;
  border-radius: 0 0 10px 10px;
}
